
body {
  margin: 0;
  font-family: 'Poller One', cursive, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  background-image: url('starWarsbackground.webp');
  /* font-size: 140%; */
}

